@font-face {
    font-family: 'Acumin Pro';
    src: url('assets/fonts/AcuminPro/light.woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Acumin Pro';
    src: url('assets/fonts/AcuminPro/medium.woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Acumin Pro';
    src: url('assets/fonts/AcuminPro/semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Acumin Pro';
    src: url('assets/fonts/AcuminPro/bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('assets/fonts/HelveticaNeue/regular.woff2');
    font-weight: 400;
}
